<ion-header>
  <ion-toolbar>
    <ion-title>
      Crud example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Message title :</ion-label>
      <ion-input type="text" value="" [(ngModel)]="model.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Message body :</ion-label>
      <ion-textarea type="text" row="10" [(ngModel)]="model.text"></ion-textarea>
    </ion-item>
    <ion-item>
      <button type="button" (click)="addMessage()" ion-button full>Submit</button>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      Swipe item to the left to delete or edit
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-item-sliding *ngFor="let message of messages">
      <ion-item>
        <h3>title: {{message.title}}</h3>
        <p>body: {{message.text}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteMessage(message.id)">
          <ion-icon name="ios-trash"></ion-icon>
          delete
        </button>
        <button ion-button color="success" (click)="updateMessage(message)">
          <ion-icon name="ios-create"></ion-icon>
          edit
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>